/*  ------------------------------- CTA SECTION ------------------------->>>>> */

.CTA-section {
  color: #292e47;
  margin-top: 80px;
}

.CTA-section-container {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #ffc600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTA-section-content {
  width: 100vw;
  height: auto;

  text-align: center;
  padding: 55px 0;
}

.CTA-section-content h3 {
  font-size: 3rem;
  margin: 0px 30px;
}

.CTA-section-content p {
  margin-top: 30px;
}

.CTA-section-email-input {
  width: 325px;
  height: 65px;
  background-size: 25px;
  background-position: 32px 2rem;
  margin-top: 50px;
  border: none;
  padding-left: 72px;
  box-sizing: border-box;
  background-image: url(/project-assets/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
}

.CTA-section-email-input::placeholder {
  color: #292e47;
}

.subscribe-btn {
  width: 325px;
  height: 65px;
  margin-top: 10px;
  margin-left: 0px;
  background-color: #072ac8;
  border: none;
  color: white;
}


/*  ------------------------------- MEDIA QUERIES ------------------------->>>>> */
/*  ------------------------------- MEDIA QUERIES ------------------------->>>>> */
/*  ------------------------------- MEDIA QUERIES ------------------------->>>>> */
@media screen and (min-width: 575px) {
}

@media screen and (min-width: 767px) {
  /*  ------------------------------- CTA SECTION ------------------------->>>>> */

  .CTA-section {
    margin-top: 100px;
  }

  .CTA-section-container {
    width: 90vw;
  }

  .CTA-section-content {
    width: 90vw;
    padding: 60px 0;
  }

  .CTA-section-email-input {
    width: 260px;
  }

  .subscribe-btn {
    width: 260px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 991px) {
}

@media screen and (min-width: 1115px) {
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1440px) {
  /*  ------------------------------- CTA SECTION ------------------------->>>>> */

  .CTA-section {
    margin-top: 136px;
  }

  .CTA-section-container {
    width: 1320px;
    height: 500px;
  }

  .CTA-section-content {
    width: 1100px;
    height: 227px;
    padding: 0;
  }

  .CTA-section-content h3 {
    font-size: 4rem;
    margin: 0;
  }

  .CTA-section-content p {
    margin-top: 20px;
  }

  .CTA-section-email-input {
    width: 393px;
    height: 80px;
    background-size: 30px;
    background-position: 32px 2.5rem;
  }

  .subscribe-btn {
    width: 198px;
    height: 80px;
    margin-top: 50px;
    margin-left: 20px;
  }
}

/* Landscape */

@media screen and (max-width: 1115px) and (orientation: landscape) {
}

@media screen and (max-width: 767px) and (orientation: landscape) {
}

@media screen and (max-width: 577px) and (orientation: landscape) {
}
